{% extends "recepies/layout.html" %} {% block content %}
<h2 class="mb-4">Recepies</h2>

<div class="container mt-3">
  {% for recipe in recipes %}
    <h1>{{ recipe.title }}</h1>
    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
    <p>Adagok száma: {{ recipe.serving }}</p>
    <p>Elkészítési idő: {{ recipe.preparation_time }} perc</p>
    <p>Nehézség: {{ recipe.difficulty }}</p>
    <h3>Hozzávalók:</h3>
    <ul>
        {% for ingredient in recipe.get_ingredients_list %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <h3>Elkészítés:</h3>
    <p>{{ recipe.preparation }}</p>
  {% endfor %}
  
</div>



{% endblock %}