{% if not object_list %}
<p class="ml-5 no-recipes">No recipes yet.</p>
{% else %}

<div class="row pb-5 mb-1">
  {% for recipe in object_list%}
  <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
    <div class="card recipe-card shadow-sm  mb-4">
      <div class="card-body p-0">
        <img
          class="w-100 card-img-top img-fluid"
          src="{{ recipe.image.url }}" 
          alt="{{ recipe.title }}"
          style="width: 300px; height: 200px;"
        />
        <div class="p-2">
          <h4 class="card-title mb-4 pl-2"  style="height: 70px;">{{ recipe.title|truncatechars:30 }}</h4>
          <a
            href="{% url 'recipe_details' recipe.id %}"
            class="stretched-link"
          ></a>
          <div class="row ">
              <div class="col-6 d-flex align-items-center justify-content-center">
                  <i class="bi bi-hourglass-split"></i>
                  <span class="ml-2">{{ recipe.preparation_time }} min</span>
              </div>
              <div class="col-6 d-flex align-items-center justify-content-center">
                  <i class="bi bi-people-fill"></i>
                  <span class="ml-2">{{ recipe.serving }}</span>
              </div>
      
              <div class="col-6 d-flex align-items-center justify-content-center">
                  <i class="bi bi-speedometer2"></i>
                  <span class="ml-2">{{ recipe.difficulty }}</span>
              </div>
              <div class="col-6 d-flex align-items-center justify-content-center">
                  <p class="mb-0">{{ recipe.average_rating|floatformat:1 }} <span class="star-orange" style="font-size: 1.3rem">&#9733;</span></p>
              </div>
          </div>

        </div>
      </div>      
    </div>
  </div>
  {% endfor %}
</div>


{% endif %}