{% extends "recepies/layout.html" %} {% load multiply_percentage %} {% load extra_filters %}


{% block content %}


<div class="container mt-3">
    <h1>{{ recipe.title }}</h1>
    {% if user == recipe.creator %}
      <form action="{% url 'edit_recipe' recipe.id %}" method="get">
        <button type="submit" class="btn btn-warning">Edit</button>
      </form> 
    {% endif %}
    {% if user.is_authenticated %}
      <form method="post" action="{% url 'add_to_favorites' recipe.id %}" >
        {% csrf_token %}
        {% if recipe in user_favorite_recipes %}
          <button type="submit" class="btn btn-danger">Remove from Favorites</button>
        {% else %}
          <button type="submit" class="btn btn-warning">Add to Favorites</button>
        {% endif %}
      </form>
    {% endif %}
    <p>{{ recipe.creator }} - {{ recipe.created_at }} </p>
    {% if already_rated %}
      <p>You have already rated this recipe.</p>
    {% else %}

      {% if user.is_authenticated %}
        <form method="post" action="{% url 'recipe_details' recipe.id %}" >
          {% csrf_token %}
          <div class="rating">
            {% for choice in form.ratings.field.choices %}
            <input id="star{{ choice.0 }}" type="radio" name="ratings" value="{{ choice.0 }}" class="star-checkbox" style="display: none;">
            <label for="star{{ choice.0 }}" class="star">&#9733;</label>
            {% endfor %}
        </div>
          <button type="submit" class="btn btn-primary">Rating</button>
        </form>  
      {% endif %}
    {% endif %}
    

    <p>Avarage: {{ recipe.average_rating|floatformat:1 }}  <span class="star-orange" style="font-size: 1.3rem">&#9733;</span></p>
    <p>{{ total_ratings }} review{{ recipe.ratings|pluralize:"s" }}</p>

    <div class="ratings-chart" style="max-width: 400px">
      {% for rate, count in ratings.items %}
      <div class="d-flex">
        <p class="mr-2" style="width: 80px">
          <span class="star-orange">
            {{ rate|repeat_star }}
          </span>
        </p>
        <div style="width: 250px">
          <div class="rating-bar mr-auto" style="width: {{ count|multiply_percentage:total_ratings }}; background-color: #4CAF50; height: 20px; color: white; text-align: center; margin-bottom: 5px;">
          </div>
        </div>
        <p class="ml-2" style="width: 90px">{{ count }} vote{{ count|pluralize:"s" }}</p>
      </div>
      {% endfor %}
    </div>
  
  
    <div>
      {% for category in recipe.categories.all %}
          <a href="{% url 'recipes_by_category' category.title %}" class="category-bubble badge ">{{ category.title }}</a>
      {% endfor %}
  </div>
    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" style="width: 250px ">
    <p>Yields: {{ recipe.serving }} serving(s)</p>
    <p>Preparation time: {{ recipe.preparation_time }} min</p>
    <p>Difficulty: {{ recipe.difficulty }}</p>
    <h3>Ingredients:</h3>
    <ul>
        {% for ingredient in recipe.get_ingredients_list %}
        <li>
          <input type="checkbox" class="ingredient-checkbox" onchange="toggleStrikethrough(this)">
          <span class="ingredient-text">{{ ingredient }}</span>
        </li>
        {% endfor %}
    </ul>
    <h3>Preparation:</h3>
      {% for preparation in recipe.get_preparation_section %}
        <p>{{ preparation }}</p>
      {% endfor %}
      
      
      <!-- Recipe Details Page -->
      {% if user.is_authenticated %}
      <button onclick="generateShoppingList({{ recipe.id }})">Generate Shopping List</button>
      {% endif %}

<!-- Shopping List Page -->
<ul id="shopping-list">
    {% for item in shopping_list.ingredients.all %}
    <li>
        {{ item.ingredient.name }} - {{ item.ingredient.quantity }}
        <input type="checkbox" onchange="togglePurchased({{ item.id }})" {% if item.purchased %}checked{% endif %}>
    </li>
    {% endfor %}
</ul>
</div>

<script>
  const toggleClass = (element, className, condition) => {
    condition ? element.classList.add(className) : element.classList.remove(className);
};

function toggleStrikethrough(checkbox) {
    const textElement = checkbox.nextElementSibling;
    toggleClass(textElement, 'strikethrough', checkbox.checked);
}



document.querySelectorAll('.rating label').forEach(label => {
  label.addEventListener('click', () => {
      // Minden csillagot először szürkére állít
      document.querySelectorAll('.rating label').forEach(innerLabel => {
          innerLabel.style.color = 'grey';
      });

      // Az adott csillag és minden előző csillag arany színű lesz
      let currentLabel = label;
      while (currentLabel) {
          currentLabel.style.color = 'gold';
          currentLabel = currentLabel.previousElementSibling ? currentLabel.previousElementSibling.previousElementSibling : null;
      }
  });
});

function generateShoppingList(recipeId) {
  fetch(`/shopping-list/generate/${recipeId}/`, {
      method: 'POST',
      headers: {
          'X-CSRFToken': getCookie('csrftoken'),  // CSRF token
      }
  })
  .then(response => {
      if (!response.ok) {
          throw new Error('Network response was not ok.');
      }
      return response.json();
  })
  .then(data => {
      if (data.status === 'success') {
          console.log('Shopping list generated successfully');
          window.location.href = '/shopping-list';
        } else {
          alert('Failed to generate shopping list: ' + data.message);
      }
  })
  .catch(error => console.error('Error:', error));
}


function togglePurchased(itemId) {
    fetch(`/shopping-list/toggle-purchased/${itemId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),  // CSRF token beállítása
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            console.log('Purchase status updated:', data.purchased);
        } else {
            alert('Failed to update purchase status');
        }
    });
}

function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}


</script>





{% endblock %}