{% extends "recepies/layout.html" %}
{% load format_quantity %}
{% load static %}
{% block body_class %}shopping-list-background{% endblock %}
{% block content %}

<div class"shopping-container">
  <h2 class="mb-4 text-center">Shopping List</h2>
  
  <section class="exotic-style">
    <ul id="shoppingList" class="mb-4">
        {% for item in shopping_list.shoppinglistitem_set.all %}
        <li id="item-{{ item.id }}">
            <input id="item-{{ item.id }}-0" type="checkbox" onchange="toggleStrikethrough(this);">
            <label for="item-{{ item.id }}-0">
                {{ item.ingredient.quantity|format_quantity }} {{ item.ingredient.unit }} {{ item.ingredient.name }}
            </label>
            <button type="button" class="btn btn-danger" onclick="deleteListItem({{ item.id }})"><i class="bi bi-trash3"></i></button>
        </li>
        {% empty %}
        <li class="justify-content-center"> The list is empty</li>
        {% endfor %}

    </ul>
  </section>
</div>


<script src="{% static 'recepies/js/shopping_list.js' %}"></script>

  {% endblock %}