{% extends "recepies/layout.html" %}
{% load static %}
{% block body_class %}fridge-background{% endblock %}
{% block content %}

<div class="d-flex justify-content-between align-items-center">
  
  <div class="fridge-container ">
    <img src="{% static 'recepies/images/closed_fridge.jpg' %}" class="fridge-image" alt="Closed Fridge" id="fridgeImage" onclick="toggleFridge()" width="600px">
    <div id="fridgeContent" class="fridge-content  " style="display:none;">
  
      <form method="post" id="fridgeForm" class="d-flex flex-column align-items-center justify-content-center">
          {% csrf_token %}
          <div class="mb-4">
            {{ fridgeForm.ingredient_1 }}
          </div>
          <div class="mb-4">
            {{ fridgeForm.ingredient_2 }}
          </div>
          <div class="mb-4">
          {{ fridgeForm.ingredient_3 }}
          </div>
          <div class="mb-4">
            {{ fridgeForm.ingredient_4 }}
          </div>
          <div class="mb-4">
            {{ fridgeForm.ingredient_5 }}
          </div>
          <div class="mb-4">
            {{ fridgeForm.ingredient_6 }}
          </div>
          <input type="hidden" name="submitted" value="true">
          <button type="submit" class="btn btn-primary mt-4" >Search</button>
      </form> 
      
    </div>
  </div>

  <p class="col-5 info-text">Click on the fridge, enter the ingredients you currently have in your fridge and we'll show you what you can make with them!</p>
</div>

<h3 class="fridge-recipe mt-4 ml-auto mr-auto  mb-4 p-2 text-center text-light bg-dark">Recipes</h3>
<section id="recipes-section">
  {% if matching_recipes is None %}
      <h3 class="text-light text-center">No recipes</h3>
  {% elif matching_recipes %}
      {% include "recepies/recipe_cards.html" with object_list=matching_recipes %}
      {% include "recepies/pagination.html" with object_list=matching_recipes %}
  {% else %}
      <h3 class="text-light text-center">No recipe can be displayed based on the ingredients provided</h3>
  {% endif %}
</section>


<script>
  const submitted = {{ submitted|default_if_none:"false"|yesno:"true,false" }};
</script>
<script src="{% static 'recepies/js/your_fridge.js' %}"></script>


{% endblock %}
