
  body {
      font-family: 'Poppins', sans-serif;
      background-color: #fbfbfb;
      color: #333;
      /* background-image: url('../recepies/wooden-wall-1846867_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     */
  }


  .form-control, .form-select {
      border-radius: 0.5rem;
      border: 1px solid #ced4da;
  }

  .form-control:focus, .form-select:focus {
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
  }

  .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
  }

  .strikethrough {
    text-decoration: line-through;
}

.category-bubble {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border-radius: 25px;
    font-size: 14px;
}

.category-bubble:hover {
    color: #fff;
    background-color: #0056b3;
}

 .dropdown-item:hover {
    background-color: #ffffff23;
 }


 @media (min-width:992px) {
     /* .dropdown-menu.show {
         display: flex;
         width: auto; 
        max-width: 600px; 
    }
    
    .dropdown-menu .dropdown-item {
        flex: 1 1 auto; 
        white-space: nowrap;
    } */

    /* .user-dropdown {
        display: block;
    }
     */
}

@media (max-width:992px) {
    .search-input {
        width: 30%;
        margin-left: 0 !important;
    }
}

.star-checkbox {
    display: none;  /* Elrejti a checkbox elemeket */
}

.star {
    font-size: 30px;
    color: grey;  /* Alapértelmezett szín, ha még nem értékelték */
    cursor: pointer;
}

.star-orange {
    font-size: 1rem;
    color: orange;
}

.star-checkbox:checked + .star {
    color: gold;
}

/* CSS hover effektus csak olvasásra */
.star-checkbox:hover + .star,
.star-checkbox:checked:hover + .star {
    color: orange;
}

.ratings-chart {
    max-width: 600px;
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
}

.rating-bar {
    height: 20px;
    background-color: #4CAF50;
    position: relative;
    line-height: 20px; /* Középre igazítja a szöveget */
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

.rate-label {
    position: absolute;
    left: 0;
    padding-left: 5px;
}

.count-label {
    position: absolute;
    right: 0;
    padding-right: 5px;
}




.card-footer .row > div {
    display: flex;
    align-items: center; 
}



.star-orange {
    font-size: 1.3rem; 
    color: orange; 
}


.fridge-container img {
    width: 600px; 
    cursor: pointer;
}

.fridge-content {
    background-color: #f1f1f1;
    padding: 10px;
}
