
body {
    font-family: "Roboto", sans-serif;
    background-color: #fbfbfb;
    color: #333;    
}

/* navbar */

 .dropdown-item:hover {
    background-color: #ffffff23;
 }


@media (max-width:992px) {
    .search-input {
        width: 30%;
        margin-left: 0 !important;
    }
}


/* recipe_details.html --------------*/

/* Recipe Image */
  .img-recipe {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

/* Recipe Categories */
.category-bubble {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border-radius: 25px;
    font-size: 14px;
}

.category-bubble:hover {
    color: #fff;
    background-color: #0056b3;
}

/* Recipe Title and Actions */
.recipe-title {
    max-width: 380px;
    word-wrap: break-word;
}

.favorite-btn {
    border: 1px solid #333;
}

/* Recipe Metadata */
.recipe-metadata-container {
    box-shadow: 0px 0px 3px 2px #3D47FF;
    background-color: #fff;
    border-radius: 5px;
}

/* Ingredients  */
#new-servings {
    width: 70px;
    text-align: center;
}

.ingredients-list ul {
    list-style-type: none; 
    padding-left: 0;
}

.ingredient-item {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}


.checkbox-wrapper label {
    display: flex;
    align-items: center;
  }
  
  .checkbox-wrapper .checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 4px;
    position: relative;
    transition: background 0.3s, border-color 0.3s;
    margin-right: 10px; 
  }
  
  .checkbox-wrapper input {
    display: none;
  }
  
  .checkbox-wrapper input:checked + .checkbox {
    background: #4CAF50;
    border-color: #4CAF50;
  }
  
  .checkbox-wrapper input:checked + .checkbox::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: white;
    transform: rotate(45deg);
    display: block;
  }
  

.add-to-list {
    margin-left: auto; 
    padding: 5px 10px; 
}

.strikethrough {
    text-decoration: line-through;
}

/* Ratings */
.star-checkbox {
    display: none; 
}

.star {
    font-size: 30px;
    color: grey;  
    cursor: pointer;
}

.star-orange {
    font-size: 1.3rem;
    color: orange;
}

.star-checkbox:checked + .star {
    color: gold;
}

.star-checkbox:hover + .star,
.star-checkbox:checked:hover + .star {
    color: orange;
}


@keyframes pulse {
    0%, 100% {
      font-size: 32px;
      font-weight: 400;
    }
    33% {
        font-size: 48px;
        font-weight: 500;
    }
    67% {
        font-size: 64px;
        font-weight: 700;
    }
  }
  
  #animated-icon {
    animation: pulse 3s infinite; 
  }

.ratings-chart {
    max-width: 400px;
    background-color: #f0f0f0;
    padding: 10px 10px 10px 70px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
}

.rating-bar {
    height: 10px;
    background-color: #4CAF50;
    position: relative;
    border-radius: 10px;
}

.rate-label {
    position: absolute;
    left: 0;
    padding-left: 5px;
}

.count-label {
    position: absolute;
    right: 0;
    padding-right: 5px;
    }

.rating-alert{
    width: 80%;
    color: #fff;
}

.rate-instructions {
    height: 85px;
}

.rating-summary-container {
    background: #1a1a1a;
    color:#fff; 
    padding: 1rem; 
    margin-right: -40px;
    text-align: center; 
    z-index:3
}

.rating-summary-star {
    font-size: 2.5rem;
}

.rating-bar-wrapper {
    width: 250px;
}

.rating-star-count {
    width: 150px;
}

.rating-vote-count {
    width: 120px;
}

/* Comments */
.comment-panel {
    height: 450px;
}


/* recipe_form.html---------- */
.add-recipe-background {
    background-image: url('../recepies/images/food-2879265_1280.jpg');
    background-size: cover;
    background-position: 10% 20%;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  .new_recipe_card {
    background: rgba(255, 255, 255, 0.75); 
  }

.form-wrapper .form-control,
.form-wrapper .form-select,
.form-wrapper .form_check_input {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    margin-bottom: 1rem;
}

.form-wrapper .form-control:focus,
.form-wrapper .form-select:focus {
    border-color: #00E5FF;
    outline: none;
    box-shadow: 0 0 5px #00E5FF;
}



.form-wrapper input[type=checkbox]:checked {
    background-color: #00E5FF;
    border-color: #00E5FF;
}



.form-check-inline label{
    margin-right: 10px;
}
.form-check-inline label input[type=checkbox]{
    margin-right: 6px;
}


/* your-fridge.html--------------- */
.fridge-background {
    background-image: url('../recepies/images/pizza-2589577_1280.jpg');
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    min-height: 100vh;
}


.fridge-container {
    position: relative;
}

.fridge-image {
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.fridge-image:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.fridge-content {
    width: 325px;
    position: absolute;
    top: 90px;
    left: 135px;
    background-color:rgba(255, 255, 255, 0.4);
    padding: 10px;
    
}

.fridge-content div {
    width: 300px;
} 

.fridge-content div input {
    width: 300px;
}

.info-text {
    font-size: 1.2rem;
    color: #ffffff;
    background: linear-gradient(to right, #007bff, #00c6ff);
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.info-text:hover {
    transform: translateY(-5px);
}

.fridge-recipe, .category-title {
    width: 20%; 
    border-radius: 10px
}

/* index.html------------- */
.recipes-background {
    background-image: url('../recepies/images/wood-6176923_1280.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
}

.recipe-card {
    border: 5px solid black;
    border-radius: 10px;
}

.recipe-card:hover {
    transform: scale(1.05);
}



/* shopping_list.html------------------ */

.shopping-container {

}

.exotic-style {
    font-family: "Roboto", sans-serif;
    color: #2c3e50;
    min-height: 100vh;
    margin-bottom: 20px;
}

#shoppingList {
    list-style: none;
    padding: 1rem;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #f0e6d6, #c3b8a6);
    margin: 2rem auto ;
}

#shoppingList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#shoppingList li:last-child {
    border-bottom: none;
}

#shoppingList li:hover {
    background: rgba(248, 237, 237, 0.856);

}

#shoppingList input[type="checkbox"] {
    margin-right: 15px;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

#shoppingList label {
    flex: 1;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;
}

.btn-danger {
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-danger:hover {
    background-color: #c0392b;
}



/* categories.html---------------- */
.no-recipes {
    font-size: 3rem;
    color:#2c3e50;
    text-align: center;
}



/* login.html-------------------- */
.login-body {
    background: linear-gradient(135deg, #6a1b9a, #8e24aa);
    height: 100vh;
   
}

.login-section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    max-width: 50rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 70vh;
}

.login-card {
    border: none;
}

.login-image {
    width: 50%;
    background: url('../recepies/images/Colorful_book.webp') no-repeat center center;
    background-size: cover;
}

.login-form {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-header, .card-footer {
    background: none;
    border: none;
}



/* search.html----------------- */

.search-info {
    width: 30%;
    border-radius: 10px;
}